<nav class="navbar navbar-dark navbar-expand-md" style="background-color: #5f4987;">
  <%= link_to "Welcome", root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to "Books", books_path, class: "nav-link" %> </li>

<!-- <% if !user_signed_in? -->
      <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
      <!-- <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" </li> -->
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      <!-- <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link"</li>-->
<!-- <% else -->
      <!-- <li class="nav-item"><%= link_to current_user.email, edit_user_registration_path, class: "nav-link" </li>-->
      <!-- <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" </li> -->
<!-- <% end -->
    </ul>
  </div><!-- /.collapse -->
</nav>
